#from _const_base import const_base as c_base
#extends c_base
#attr $sort = True ## set is attribs is sorted
#attr $name = "CaseMap"
#attr $desc = "These constants are used to specify a case-related mapping for formatting and displaying characters."
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1style_1_1CaseMap.html"
#attr $flags = False

#attr $const_dict = {
    "NONE": ("0", "No column or page break is applied."),
    "UPPERCASE": ("1", "All characters are put in upper case."),
    "LOWERCASE": ("2", "All characters are put in lower case."),
    "TITLE": ("3", "The first character of each word is put in upper case."),
    "SMALLCAPS": ("4", "All characters are put in upper case, but with a smaller font height.")
}