#from _const_base import const_base as c_base
#extends c_base
#attr $sort = True ## set is attribs is sorted
#attr $name = "FootnoteLineStyle"
#attr $desc = "Footnote line style constants"
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1style_1_1FootnoteLineStyle.html"
#attr $flags = False
#attr $const_dict = {
    "NONE": ("0", "Constant None"),
    "SOLID": ("1", "Constant Solid"),
    "DOTTED": ("2", "Constant Dotted"),
    "DASHED": ("3", "Constant Dashed")
}