#from _const_base import const_base as c_base
#extends c_base
#attr $sort = True ## set is attribs is sorted
#attr $name = "LineSpacingMode"
#attr $desc = "These constants specify the interpretation of LineHeight."
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1style_1_1LineSpacingMode.html"
#attr $flags = False
#attr $const_dict = {
    "PROP": ("0", "This constant specifies the height value as a proportional value."),
    "MINIMUM": ("1", "This constant specifies the height as the minimum line height."),
    "LEADING": ("2", "This constant specifies the height value as the distance to the previous line."),
    "FIX": ("3", "This constant specifies the height value as a fixed line height.")
}