#from _enum_base import enum_base as e_base
#extends e_base
#attr $sort = True ## set is attribs is sorted
#attr $ns = "com.sun.star.style"
#attr $name = "PageStyleLayout"
#attr $desc = "specifies the pages for which a page layout is valid."
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1style.html#ae13f8c21c10b194207bb33f84a33d50f"
#attr $enum_dict = {
    "ALL": "The page style is identically used for left and right pages.",
    "LEFT": "set the horizontal alignment to the left margin from the container object",
    "RIGHT": "set the horizontal alignment to the right margin from the container object",
    "MIRRORED": "The page style is used unchanged for left pages and mirrored for right pages."
}
