#from _const_base import const_base as c_base
#extends c_base
#attr $sort = True ## set is attribs is sorted
#attr $name = "ParagraphStyleCategory"
#attr $desc = "These constants are used to specify the category of paragraph styles in text documents."
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1style_1_1ParagraphStyleCategory.html"
#attr $flags = False
#attr $const_dict = {
    "TEXT": ("0", "is applied to styles that are used for common text."),
    "SOLID": ("1", "Constant Solid"),
    "LIST": ("2", "is applied to styles that used in numberings and lists."),
    "INDEX": ("3", "is applied to styles that are used in indexes."),
    "EXTRA": ("4", "is applied to styles that are used in special regions like headers, footers, and footnote text."),
    "HTML": ("5", "is applied to styles that are used to support HTML.")
}