#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True ## set is attribs is sorted
#attr $sort = True ## set is attribs is sorted
#attr $name = "TabStop"
#attr $desc = "This struct describes drop caps at a paragraph object."
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1style_1_1TabStop.html"
#attr $imports = []
#attr $from_imports = [('.tab_align', 'TabAlign')]
#attr $attribs = [
    {
        "name": "Position",
        "type": 'int',
        "orig_type": "long",
        "lines": ('This field specifies the position of the tabulator in relation to the left border.',)
    },
    {
        "name": "Alignment",
        "type": 'TabAlign',
        "orig_type": "com.sun.star.style.TabAlign",
        "lines": ('This field specifies the alignment of the text range before the tabulator.',)
    },
    {
        "name": "DecimalChar",
        "type": 'str',
        "orig_type": "char",
        "lines": 'This field specifies which delimiter is used for the decimal.'
    },
    {
        "name": "FillChar",
        "type": 'str',
        "orig_type": "char",
        "lines": ('This field specifies the character that is used to fill up the',
            'space between the text in the text range and the tabulators.',)
    }
]