#from _enum_base import enum_base as e_base
#extends e_base
#attr $sort = True ## set is attribs is sorted
#attr $ns = "com.sun.star.style"
#attr $name = "VerticalAlignment"
#attr $desc = "specify the horizontal alignment of an object within a container object."
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1style.html#a9c2ed22cfbd21f13df24ea193b310aee"
#attr $enum_dict = {
    "TOP": "set the vertical alignment to the center between the top and bottom margins from the container object.",
    "MIDDLE": "set the vertical alignment to the top margin from the container object.",
    "BOTTOM": "set the vertical alignment to the bottom margin from the container object."
}
