#import typing
#from _base_singleton_dyn import BaseSingletonDyn
#extends BaseSingletonDyn
## see: https://cheetahtemplate.org/users_guide/inheritanceEtc.html#implements
#implements respond
$self.init_data()#slurp
#attr $name = ""
#attr $namespace = ""
#attr $allow_db = True
#attr $libre_office_ver = False
#attr $desc = []
#attr $quote = set()
#attr $typings = set()
#attr $link = ""
#attr $requires_typing = False
#attr $include_desc = True
#attr $inherits = []
#attr $imports = []
#attr $extends_map = {}
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $from_imports_typing = []
#attr $attribs = {}
##  following attr will get values from BaseInterfaceDyn class
#attr $uno_obj = 'uno_obj'
#attr $dyn = 'dyn'
$self.load_data()#slurp
## main Template
#set $safe_name = $self.get_safe_word($name)
#set $full_name = $namespace + '.' + $name
#set $uno_obj_ns = $dyn + $full_name.removeprefix('com.sun.star').rsplit(sep='.', maxsplit=1)[0]
#set $uno_obj_in = $uno_obj + $full_name.removeprefix('com.sun.star')
#set $name_value = '/singletons/' + $full_name + '/service'
#*
The following singleton service is not found in ctx
'/singletons/com.sun.star.script.theServiceDocumenter/service'

However the following is found even though there does not appear
to be a corrosponding class in the api.
'/singletons/com.sun.star.util.theServiceDocumenter/service'

For this reason alone error checking is being done and an error
is being raised if not found.
*#
# coding: utf-8
#include raw "resources/inc_lic.txt"
# Singleton Class
# this is a auto generated file generated by Cheetah
#if $libre_office_ver:
# Libre Office Version: $libre_office_ver
#end if
# Namespace: $namespace
from typing import Tuple, TYPE_CHECKING
from ooo_uno.oenv import UNO_ENVIRONMENT, UNO_RUNTIME
_DYNAMIC = False

if (not TYPE_CHECKING) and UNO_RUNTIME and UNO_ENVIRONMENT:
    _DYNAMIC = True

if not TYPE_CHECKING and _DYNAMIC:
    def _dynamic_singleton() -> None:
        # Dynamically create uno singleton using component context
        import uno
        global $safe_name

        def _singleton_init():
            ctx = uno.getComponentContext()
            key = '$name_value'
            en: Tuple[str] = ctx.getElementNames()
            if not key in en:
                raise KeyError("Key '%s' not found in Component Context Element Names", key)
            singleton = ctx.getValueByName(key)

            return singleton
        $safe_name = _singleton_init
    _dynamic_singleton()
else:
    $self.get_rel_import(in_str=$uno_obj_in, ns=$uno_obj_ns) as $safe_name

__all__ = ['$safe_name']