#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XComponentContext"
#attr $desc = [
    "Component context to be passed to a component via com.sun.star.lang.XSingleComponentFactory.",
    "",
    "Arbitrary values (e.g. deployment values) can be retrieved from the context.",
    "",
    "**See Also**",
    "",
    "    ProUNO - Service Manager and Component Context FirstSteps - First Contact - Getting Started ProUNO - Java - Getting a Service Manager ProUNO - C++ - Establishing Interprocess Connections ProUNO - UNO Interprocess Connections ProUNO - C++ - Transparent Use of Office UNO Components ProUNO - Java - Transparent Use of Office UNO Components"
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1uno_1_1XComponentContext.html"
#attr $requires_typing = True
#attr $inherits = ['XInterface']
#attr $imports = []
#attr $from_imports = [
    [
        ".x_interface",
        "XInterface"
    ]
]
#attr $from_imports_typing = [
    [
        ".x_multi_component_factory",
        "XMultiComponentFactory"
    ]
]
#attr $namespace = "com.sun.star.uno.xcomponentcontext"
#attr $attribs = {
        "methods": [
            {
                "name": "getServiceManager",
                "returns": "'XMultiComponentFactory'",
                "desc": [
                    "Gets the service manager instance to be used from key /singletons/com.sun.star.lang.theServiceManager.",
                    "",
                    "This method has been added for convenience, because the service manager is used very often."
                ],
                "raises": [],
                "args": []
            },
            {
                "name": "getValueByName",
                "returns": "object",
                "desc": [
                    "Gets a value from the context."
                ],
                "raises": [],
                "args": [
                    [
                        "Name",
                        "str",
                        "in"
                    ]
                ]
            }
        ]
    }
