#from _const_base import const_base as c_base
#extends c_base
#attr $auto_load = False
#attr $namespace = "{ns}"
#attr $name = "{name}"
#attr $allow_db = {allow_db}
#attr $flags = {flags}
#attr $hex = {hex}
#attr libre_office_ver = "{libre_office_ver}"
#attr $link = "{link}"
#attr $base_class = "{base_class}"
#attr $desc = {desc}
#attr $imports = []
#attr $from_imports = {from_imports}
#attr $from_typing_imports = {from_typing_imports}
#attr $requires_typing = {requires_typing}
#attr $attribs = {data}