#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "AdjustmentEvent"
#attr $desc = """adjustment event emitted by adjustable objects."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1AdjustmentEvent.html"
#attr $imports = []
#attr $from_imports = [(".adjustment_type", "AdjustmentType")]
#attr $attribs = [
    {
        "name": "Type",
        "type": "AdjustmentType",
        "orig_type": "com.sun.star.awt.AdjustmentType",
        "lines": "contains the type of the adjustment event."
    },
    {
        "name": "Value",
        "type": "int",
        "orig_type": "long",
        "lines": "contains the current value in the adjustment event."
    }
]