#from _const_base import const_base as c_base
#extends c_base
#attr $sort = True ## set is const_dict is sorted
#attr $name = "DeviceCapability"
#attr $desc = 'defines which capabilities a device supports.'
#attr $imports = []
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1DeviceCapability.html"
#attr $flags = False
## $const_dict, Comment can be string or list or tupple eg:
#*
$const_dict = {
    "NONE": ("0", "No column or page break is applied."),
}
*#
#attr $const_dict = {
    "RASTEROPERATIONS": ('1', 'supports the device raster operations.'),
    "GETBITS": ('2', "supports the ``XDevice.createBitmap()``, the ``XDevice.createDevice()`` and the ``XGraphics.copy()`` methods.")
}