#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "DeviceInfo"
#attr $desc = """contains information about a device."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1DeviceInfo.html"
#attr $imports = []
#attr $from_imports = []
#attr $attribs = [
    {
        "name": "BitsPerPixel",
        "type": "int",
        "orig_type": "short",
        "lines": "contains the color-depth of the device."
    },
    {
        "name": "BottomInset",
        "type": "int",
        "orig_type": "long",
        "lines": "contains the inset from the bottom."
    },
    {
        "name": "Capabilities",
        "type": "int",
        "orig_type": "long",
        "lines": "specifies special operations which are possible on the device."
    },
    {
        "name": "Height",
        "type": "int",
        "orig_type": "long",
        "lines": "contains the height of the device in pixels."
    },
    {
        "name": "LeftInset",
        "type": "int",
        "orig_type": "long",
        "lines": "contains the inset from the left."
    },
    {
        "name": "PixelPerMeterX",
        "type": "float",
        "orig_type": "double",
        "lines": "contains the X-axis resolution of the device in pixel/meter."
    },
    {
        "name": "PixelPerMeterY",
        "type": "float",
        "orig_type": "double",
        "lines": "contains the Y-axis resolution of the device in pixel/meter."
    },
    {
        "name": "RightInset",
        "type": "int",
        "orig_type": "long",
        "lines": "contains the inset from the right."
    },
    {
        "name": "TopInset",
        "type": "int",
        "orig_type": "long",
        "lines": "contains the inset from the top."
    },
    {
        "name": "Width",
        "type": "int",
        "orig_type": "long",
        "lines": "contains the width of the device in pixels."
    }
]