#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "DockingData"
#attr $desc = """data returned by docking handler"""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1DockingData.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = [('.rectangle', 'Rectangle')]
#attr $attribs = [
    {
        "name": "TrackingRectangle",
        "type": "'Rectangle'",
        "orig_type": "com.sun.star.awt.Rectangle",
        "lines": "specifies the position and size where the window would be placed if the user releases the mouse"
    },
    {
        "name": "bFloating",
        "type": "bool",
        "orig_type": "boolean",
        "lines": "specifies that the window should be floating (TRUE) or docked (FALSE)"
    }
]