#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "DockingEvent"
#attr $desc = """specifies a docking event."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1DockingEvent.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = [('.point', 'Point'), ('.rectangle', 'Rectangle')]
#attr $attribs = [
    {
        "name": "MousePos",
        "type": "'Point'",
        "orig_type": "com.sun.star.awt.Point",
        "lines": "specifies the current mouse position in frame coordinates"
    },
    {
        "name": "TrackingRectangle",
        "type": "'Rectangle'",
        "orig_type": "com.sun.star.awt.Rectangle",
        "lines": "specifies the current tracking rectangle"
    },
    {
        "name": "bInteractive",
        "type": "bool",
        "orig_type": "boolean",
        "lines": "specifies if the docking procedure is interactive which means that the user is currently dragging the window to a new position if this member is FALSE the window will be docked or undocked immediately using the returned tracking rectangle"
    },
    {
        "name": "bLiveMode",
        "type": "bool",
        "orig_type": "boolean",
        "lines": "specifies if the layout should be adjusted immediately"
    }
]