#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "EndDockingEvent"
#attr $desc = """specifies an end docking event."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1EndDockingEvent.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = [('.rectangle', 'Rectangle')]
#attr $attribs = [
    {
        "name": "WindowRectangle",
        "type": "'Rectangle'",
        "orig_type": "com.sun.star.awt.Rectangle",
        "lines": "specifies the new bounding rectangle of the window"
    },
    {
        "name": "bCancelled",
        "type": "bool",
        "orig_type": "boolean",
        "lines": "specifies that the docking procedure was canceled"
    },
    {
        "name": "bFloating",
        "type": "bool",
        "orig_type": "boolean",
        "lines": "specifies if the window is now floating TRUE or docked FALSE"
    }
]