#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "EnhancedMouseEvent"
#attr $desc = """specifies an event from the mouse.

    **Since**

        OOo 2.0"""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1EnhancedMouseEvent.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = [('.uno.x_interface', 'XInterface')]
#attr $attribs = [
    {
        "name": "Target",
        "type": "'XInterface'",
        "orig_type": "com.sun.star.uno.XInterface",
        "lines": "contains the object on the location of the mouse."
    }
]