#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True
#attr $flags = False
#attr $name = "FieldUnit"
#attr $desc = """specifies attributes for the MetricField map units.

    IMPORTANT: These constants have to be disjunct with constants in util/MeasureUnit."""
#attr $imports = []
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1FieldUnit.html"
#attr $const_dict = {
    "FUNIT_NONE": ["0"],
    "FUNIT_MM": ["1"],
    "FUNIT_CM": ["2"],
    "FUNIT_M": ["3"],
    "FUNIT_KM": ["4"],
    "FUNIT_TWIP": ["5"],
    "FUNIT_POINT": ["6"],
    "FUNIT_PICA": ["7"],
    "FUNIT_INCH": ["8"],
    "FUNIT_FOOT": ["9"],
    "FUNIT_MILE": ["10"],
    "FUNIT_CUSTOM": ["11"],
    "FUNIT_PERCENT": ["12"],
    "FUNIT_100TH_MM": ["13"]
}