#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True ## set is const_dict is sorted
#attr $flags = False
#attr $name = "FontPitch"
#attr $desc = (
    'These values are used to specify whether the width of a character is fixed or variable.',
    '',
    'They may be expanded in future versions.'
)
#attr $imports = []
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1FontPitch.html"
## $const_dict, Comment can be string or list or tupple eg:
#*
$const_dict = {
    "NONE": ("0", "No column or page break is applied."),
}
*#
#attr $const_dict = {
    "DONTKNOW": ('0', 'specifies that the pitch for this font is unknown.'),
    "FIXED": ('1', 'specifies a font with a fixed character width.'),
    "VARIABLE": ('2', 'specifies a font with a variable character width.')
}