#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True ## set is const_dict is sorted
#attr $flags = False
#attr $name = "FontUnderline"
#attr $desc = (
    'These values are used to specify the kind of underlining.',
    '',
    'They may be expanded in future versions.'
)
#attr $imports = []
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1FontUnderline.html"
## $const_dict, Comment can be string or list or tupple eg:
#*
$const_dict = {
    "NONE": ("0", "No column or page break is applied."),
}
*#
#attr $const_dict = {
    "NONE": ('0', 'specifies no underlining.'),
    "SINGLE": ('1', 'specifies underlining with a single line.'),
    "DOUBLE": ('2', 'specifies underlining with a double line.'),
    "DOTTED": ('3', 'specifies underlining with a dotted line.'),
    "DONTKNOW": ('4', 'The kind of underlining is not known.'),
    "DASH": ('5', 'specifies underlining with a dashed line.'),
    "LONGDASH": ('6', 'specifies underlining with long dashes.'),
    "DASHDOT": ('7', 'specifies underlining with a dash and dot sequence.'),
    "DASHDOTDOT": ('8', 'specifies underlining with a dash, dot, dot sequence.'),
    "SMALLWAVE": ('9', 'specifies underlining with a small wave.'),
    "WAVE": ('10', 'specifies underlining with a wave.'),
    "DOUBLEWAVE": ('11', 'specifies underlining with a double wave.'),
    "BOLD": ('12', 'specifies underlining with a bold line.'),
    "BOLDDOTTED": ('13', 'specifies underlining with bold dots.'),
    "BOLDDASH": ('14', 'specifies underlining with bold dashes.'),
    "BOLDLONGDASH": ('15', 'specifies underlining with long bold dashes.'),
    "BOLDDASHDOT": ('16', 'specifies underlining with a dash and dot sequence in bold.'),
    "BOLDDASHDOTDOT": ('17', 'specifies underlining with a dash, dot, dot sequence in bold.'),
    "BOLDWAVE": ('18', 'specifies underlining with a bold wave.')
}