#from _const import const
#extends const
#attr $sort = True ## set is const_dict is sorted
#attr $name = "FontWidth"
#attr $desc = (
    'These values are used to specify the width of the characters of a font.',
    '',
    'They may be expanded in future versions.'
)
#attr $imports = []
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1FontWidth.html"
## $const_dict, Comment can be string or list or tupple eg:
#*
$const_dict = {
    "NONE": ("0", "No column or page break is applied."),
}
*#
#attr $const_dict = {
    "DONTKNOW": ('0.0', 'The width of the font is not specified/known.'),
    "ULTRACONDENSED": ('50.0', 'The width of the font is condensed to 50%.'),
    "EXTRACONDENSED": ('60.0', 'The width of the font is condensed to 60%.'),
    "CONDENSED": ('75.0', 'The width of the font is condensed to 75%.'),
    "SEMICONDENSED": ('90.0', 'The width of the font is condensed to 90%.'),
    "NORMAL": ('100.0', 'The width of the font is normal.'),
    "SEMIEXPANDED": ('110.0', 'The width of the font is expanded to 110%.'),
    "EXPANDED": ('150.0', 'The width of the font is expanded to 150%.'),
    "EXTRAEXPANDED": ('175.0', 'The width of the font is expanded to 175%.'),
    "ULTRAEXPANDED": ('200.0', 'The width of the font is expanded to 200%.')
}