#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "Gradient"
#attr $desc = """Describes a gradient between two colors.

    Many aspects of the gradient are undefined, like the algorithm and color space to use to interpolate between the colors and what "intensity" means."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1Gradient.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = [('.util.color', 'Color'), ('.gradient_style', 'GradientStyle')]
#attr $attribs = [
    {
        "name": "Angle",
        "type": "int",
        "orig_type": "short",
        "lines": "angle of the gradient in 1/10 degree."
    },
    {
        "name": "Border",
        "type": "int",
        "orig_type": "short",
        "lines": "per cent of the total width where just the start color is used."
    },
    {
        "name": "EndColor",
        "type": "'Color'",
        "orig_type": "com.sun.star.util.Color",
        "lines": "specifies the color at the end point of the gradient."
    },
    {
        "name": "EndIntensity",
        "type": "int",
        "orig_type": "short",
        "lines": "specifies the intensity at the end point of the gradient."
    },
    {
        "name": "StartColor",
        "type": "'Color'",
        "orig_type": "com.sun.star.util.Color",
        "lines": "specifies the color at the start point of the gradient."
    },
    {
        "name": "StartIntensity",
        "type": "int",
        "orig_type": "short",
        "lines": ["Specifies the intensity at the start point of the gradient.",
            "",
            "What that means is undefined."]
    },
    {
        "name": "StepCount",
        "type": "int",
        "orig_type": "short",
        "lines": ["Specifies the number of steps of change color.",
            "",
            "What that means is undefined."]
    },
    {
        "name": "Style",
        "type": "'GradientStyle'",
        "orig_type": "com.sun.star.awt.GradientStyle",
        "lines": "specifies the style of the gradient."
    },
    {
        "name": "XOffset",
        "type": "int",
        "orig_type": "short",
        "lines": ["Specifies the X-coordinate, where the gradient begins.",
            "",
            "This is effectively the center of the RADIAL, ELLIPTICAL, SQUARE and RECT style gradients."]
    },
    {
        "name": "YOffset",
        "type": "int",
        "orig_type": "short",
        "lines": ["Specifies the Y-coordinate, where the gradient begins.",
            "",
            "See previous field."]
    }
]