#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True ## set is const_dict is sorted
#attr $flags = False
#attr $name = "ImageScaleMode"
#attr $desc = 'defines modes how an image displayed in a given area should be scaled to fit this area'
#attr $imports = []
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1ImageScaleMode.html"
## $const_dict, Comment can be string or list or tupple eg:
#*
$const_dict = {
    "NONE": ("0", "No column or page break is applied."),
}
*#
#attr $const_dict = {
    "NONE": ('0', 'specifies that no scaling should happen at all'),
    "ISOTROPIC": ('1', (
        'specifies that the image should be scaled up or down to the size of the surrounding area isotropically, i.e.',
        '',
        'by keeping its aspect ratio.'
    )),
    "ANISOTROPIC": ('2', (
        'specifies that the image should be scaled up or down to the size of the surrounding area anisotropically.',
        '',
        'The image will finally cover all of the surrounding area, but its dimensions might be distorted.'
    ))
}