#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True ## set is const_dict is sorted
#attr $flags = False
#attr $name = "ImageAlign"
#attr $desc = 'specifies the alignment of an image.'
#attr $imports = []
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1ImageAlign.html"
## $const_dict, Comment can be string or list or tupple eg:
#*
$const_dict = {
    "NONE": ("0", "No column or page break is applied."),
}
*#
#attr $const_dict = {
    "LEFT": ('0', 'specifies to align left.'),
    "TOP": ('1', 'specifies to align top.'),
    "RIGHT": ('2', 'specifies to align right.'),
    "BOTTOM": ('3', 'specifies to align bottom.')
}