#from _const_base import const_base as c_base
#extends c_base
#attr $hex = True
#attr $sort = True ## set is const_dict is sorted
#attr $flags = True
#attr $name = "ImageDrawMode"
#attr $desc = (
    'defines modes how an image is drawn onto a device',
    '',
    '**Since**',
    '',
    '   LibreOffice 4.1'
)
#attr $imports = []
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1ImageDrawMode.html"
## $const_dict, Comment can be string or list or tupple eg:
#*
$const_dict = {
    "NONE": ("0", "No column or page break is applied."),
}
*#
#attr $const_dict = {
    "NONE": ('0x0000', 'the image is drawn as is, without any color transformation.'),
    "DISABLE": ('0x0001', 'the image is drawn as if it represented a feature whose state is disabled.'),
    "HIGHLIGHT": ('0x0002', 'the image is drawn as being highlighted.'),
    "DEACTIVE": ('0x0004', 'the image is drawn as being deactivated.'),
    "SEMITRANSPARENT": ('0x0010', 'the image is drawn semi-transparent.')
}