#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "InputEvent"
#attr $desc = """the root event class for all component-level input events.

    Input events are delivered to listeners before they are processed normally by the source where they originated."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1InputEvent.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = []
#attr $attribs = [
    {
        "name": "Modifiers",
        "type": "int",
        "orig_type": "short",
        "lines": ["contains the modifier keys which were pressed while the event occurred.",
            "",
            "Zero or more constants from the com.sun.star.awt.KeyModifier group."]
    }
]