#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True ## set is const_dict is sorted
#attr $flags = True
#attr $name = "InvalidateStyle"
#attr $desc = 'specifies how to invalidate windows.'
#attr $imports = []
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1InvalidateStyle.html"
## $const_dict, Comment can be string or list or tupple eg:
#*
$const_dict = {
    "NONE": ("0", "No column or page break is applied."),
}
*#
#attr $const_dict = {
    "CHILDREN": ('1', 'The child windows are invalidated, too.'),
    "NOCHILDREN": ('2', 'The child windows are not invalidated.'),
    "NOERASE": ('4', 'The invalidated area is painted with the background color/pattern.'),
    "UPDATE": ('8', 'The invalidated area is updated immediately.'),
    "TRANSPARENT": ('16', 'The parent window is invalidated, too.'),
    "NOTRANSPARENT": ('32', 'The parent window is not invalidated.'),
    "NOCLIPCHILDREN": ('16384', 'The area is invalidated regardless of overlapping child windows.')
}