#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "ItemListEvent"
#attr $desc = """is the event broadcasted by a XListItems implementation for changes in its item list."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1ItemListEvent.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = []
#attr $attribs = [
    {
        "name": "ItemPosition",
        "type": "int",
        "orig_type": "long",
        "lines": ["specifies the position of the item which is affected by the event",
            "",
            "In case the event is not related to a single item, but to the complete list, the value of this member is undefined."]
    },
    {
        "name": "string",
        "type": "str",
        "orig_type": "string",
        "lines": ["the URL of the image of the item",
            "",
            "If the event being notified did not touch the image of an item, this member is empty. For instance, upon invocation of XItemList.setItemText(), only ItemText will be set, and ItemImageURL will be empty."]
    },
    {
        "name": "string",
        "type": "str",
        "orig_type": "string",
        "lines": ["the text of the item.",
            "",
            "If the event being notified did not touch the text of an item, this member is empty. For instance, upon invocation of XItemList.setItemImage(), only ItemImageURL will be set, and ItemText will be empty."]
    }
]