#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True ## set is const_dict is sorted
#attr $flags = False
#attr $name = "KeyFunction"
#attr $desc = 'These values are used to specify logical key functions.'
#attr $imports = []
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1KeyFunction.html"
## $const_dict, Comment can be string or list or tupple eg:
#*
$const_dict = {
    "NONE": ("0", "No column or page break is applied."),
}
*#
#attr $const_dict = {
    "NEW": ('1',),
    "OPEN": ('2',),
    "SAVE": ('3',),
    "SAVEAS": ('4',),
    "PRINT": ('5',),
    "CLOSE": ('6',),
    "DONTKNOW": ('0',),
    "QUIT": ('7',),
    "CUT": ('8',),
    "COPY": ('9',),
    "PASTE": ('10',),
    "UNDO": ('11',),
    "REDO": ('12',),
    "DELETE": ('13',),
    "REPEAT": ('14',),
    "FIND": ('15',),
    "FINDBACKWARD": ('16',),
    "PROPERTIES": ('17',),
    "FRONT": ('18',)
}