#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True ## set is const_dict is sorted
#attr $flags = False
#attr $name = "LineEndFormat"
#attr $desc = 'specifies that line ends are to be represented by a carriage return character (\\\\r)'
#attr $imports = []
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1LineEndFormat.html"
## $const_dict, Comment can be string or list or tupple eg:
#*
$const_dict = {
    "NONE": ("0", "No column or page break is applied."),
}
*#
#attr $const_dict = {
    "CARRIAGE_RETURN": ("0", [
        "specifies that line ends are to be represented by a carriage return character (\\\\r)"
    ]),
    "LINE_FEED": ("1", [
        "specifies that line ends are to be represented by a line feed character (\\\\n)"
    ]),
    "CARRIAGE_RETURN_LINE_FEED": ("2", [
        "specifies that line ends are to be represented by a line feed character (\\\\n), followed by a carriage return character (\\\\r)."
    ])
}