#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "MenuEvent"
#attr $desc = """specifies a menu event."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1MenuEvent.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = []
#attr $attribs = [
    {
        "name": "MenuId",
        "type": "int",
        "orig_type": "short",
        "lines": "contains the item ID."
    }
]