#from _const_base import const_base as c_base
#extends c_base
#attr $hex = True
#attr $sort = True ## set is const_dict is sorted
#attr $flags = False
#attr $name = "MessageBoxButtons"
#attr $desc = "defines constants for the possible message box button combinations."
#attr $imports = []
## $from_imports is a tuple eg: $from_imports = [('.tab_align', 'TabAlign')]
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1MessageBoxButtons.html"
## $const_dict, Comment can be string or list or tupple eg:
#*
$const_dict = {
    "NONE": ("0", "No column or page break is applied."),
}
*#
#attr $const_dict = {
    "BUTTONS_OK": ("0x1", [
        'specifies a message with "OK" button.'
    ]),
    "BUTTONS_OK_CANCEL": ("0x2", [
        'specifies a message box with "OK" and "CANCEL" button.'
    ]),
    "BUTTONS_YES_NO": ("0x3", [
        'specifies a message box with "YES" and "NO" button.'
    ]),
    "BUTTONS_YES_NO_CANCEL": ("0x4", [
        'specifies a message box with "YES", "NO" and "CANCEL" button.'
    ]),
    "BUTTONS_RETRY_CANCEL": ("0x5", [
        'specifies a message box with "RETRY" and "CANCEL" button.'
    ]),
    "BUTTONS_ABORT_IGNORE_RETRY": ("0x6", [
        'specifies a message box with "ABORT", "IGNORE" and "RETRY" button.'
    ]),
    "DEFAULT_BUTTON_OK": ("0x10000", [
        "specifies that OK is the default button."
    ]),
    "DEFAULT_BUTTON_CANCEL": ("0x20000", [
        "specifies that CANCEL is the default button."
    ]),
    "DEFAULT_BUTTON_RETRY": ("0x30000", [
        "specifies that RETRY is the default button."
    ]),
    "DEFAULT_BUTTON_YES": ("0x40000", [
        "specifies that YES is the default button."
    ]),
    "DEFAULT_BUTTON_NO": ("0x50000", [
        "specifies that NO is the default button."
    ]),
    "DEFAULT_BUTTON_IGNORE": ("0x60000", [
        "specifies that IGNORE is the default button."
    ])
}