#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "PaintEvent"
#attr $desc = """specifies the paint event for a component.

    This event is a special type which is used to ensure that paint/update method calls are serialized along with the other events delivered from the event queue."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1PaintEvent.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = [('.rectangle', 'Rectangle')]
#attr $attribs = [
    {
        "name": "Count",
        "type": "int",
        "orig_type": "short",
        "lines": ["contains the number of paint events that follows this event if it is a multiple PaintEvent.",
            "",
            "You can collect the PaintEvent until Count is zero."]
    },
    {
        "name": "UpdateRect",
        "type": "'Rectangle'",
        "orig_type": "com.sun.star.awt.Rectangle",
        "lines": "contains the rectangle area which needs to be repainted."
    }
]