#from _enum_base import enum_base as e_base
#extends e_base
#attr $sort = True
#attr $ns = "com.sun.star.awt"
#attr $name = "PushButtonType"
#attr $desc = """specifies the default actions of a button."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt.html#aa4e49c7e6c5bf2b4d010ad4a50b90ec0"
#attr $enum_dict = {
    "CANCEL": ['acts like a cancel button.'],
    "HELP": ['acts like a help button.'],
    "OK": ['acts like an OK button.'],
    "STANDARD": ['acts like a standard push button.']
}