#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "Rectangle"
#attr $desc = """specifies a rectangular area by position and size."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1Rectangle.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = []
#attr $attribs = [
    {
        "name": "Height",
        "type": "int",
        "orig_type": "long",
        "lines": "specifies the height."
    },
    {
        "name": "Width",
        "type": "int",
        "orig_type": "long",
        "lines": "specifies the width."
    },
    {
        "name": "X",
        "type": "int",
        "orig_type": "long",
        "lines": "specifies the x-coordinate."
    },
    {
        "name": "Y",
        "type": "int",
        "orig_type": "long",
        "lines": "specifies the y-coordinate."
    }
]