#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True
#attr $flags = False
#attr $name = "ScrollBarOrientation"
#attr $desc = """These constants are used to specify the orientation of a scroll bar."""
#attr $imports = []
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1ScrollBarOrientation.html"
#attr $const_dict = {
    "HORIZONTAL": ("0", [
        "specifies a horizontal scroll bar."
    ]),
    "VERTICAL": ("1", [
        "specifies a vertical scroll bar."
    ])
}