#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "SimpleFontMetric"
#attr $desc = """describes the general metrics of a certain font."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1SimpleFontMetric.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = []
#attr $attribs = [
    {
        "name": "Ascent",
        "type": "int",
        "orig_type": "short",
        "lines": ["specifies the portion of a lower case character that rises above the height of the character \"x\" of the font.",
            "",
            "For example, the letters \"b\", \"d\", \"h\", \"k\" and \"l\" have an ascent unequal to 0.",
            "",
            "The ascent is measured in pixels, thus the font metric is device dependent."]
    },
    {
        "name": "Descent",
        "type": "int",
        "orig_type": "short",
        "lines": ["specifies the portion of a letter falling below the baseline.",
            "",
            "For example, the letters \"g\", \"p\", and \"y\" have a descent unequal to 0.",
            "",
            "The descent is measured in pixels, thus the font metric is device dependent."]
    },
    {
        "name": "FirstChar",
        "type": "str",
        "orig_type": "char",
        "lines": "specifies the code of the first printable character in the font."
    },
    {
        "name": "LastChar",
        "type": "str",
        "orig_type": "char",
        "lines": "specifies the code of the last printable character in the font."
    },
    {
        "name": "Leading",
        "type": "int",
        "orig_type": "short",
        "lines": ["specifies the vertical space between lines of this font; it is also called internal line spacing.",
            "",
            "The leading is measured in pixels, thus the font metric is device dependent."]
    },
    {
        "name": "Slant",
        "type": "int",
        "orig_type": "short",
        "lines": ["specifies the slant of the characters (italic).",
            "",
            "The slant is measured in degrees from 0 to 359."]
    }
]