#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True
#attr $flags = False
#attr $name = "Style"
#attr $desc = """specifies the style of a window."""
#attr $imports = []
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1Style.html"
#attr $const_dict = {
    "FRAME": ("0", [
        "specifies a frame."
    ]),
    "DIALOG": ("1", [
        "specifies a dialog."
    ])
}