#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "VclContainerEvent"
#attr $desc = """specifies a container event.

    These events are provided only for notification purposes."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1awt_1_1VclContainerEvent.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = [('.uno.x_interface', 'XInterface')]
#attr $attribs = [
    {
        "name": "Child",
        "type": "'XInterface'",
        "orig_type": "com.sun.star.uno.XInterface",
        "lines": "returns the child component that was added or removed."
    }
]