#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True
#attr $flags = True
#attr $name = "VclWindowPeerAttribute"
#attr $desc = """specifies attributes for the VCL window implementation.

    IMPORTANT: These constants have to be disjunct with constants in WindowAttribute."""
#attr $imports = []
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1awt_1_1VclWindowPeerAttribute.html"
#attr $const_dict = {
    "AUTOVSCROLL": ["-2147483648"],
    "DEF_NO": ["-2147483648"],
    "HSCROLL": ["256"],
    "VSCROLL": ["512"],
    "LEFT": ["1024"],
    "CENTER": ["2048"],
    "RIGHT": ["4096"],
    "SPIN": ["8192"],
    "SORT": ["16384"],
    "DROPDOWN": ["32768"],
    "DEFBUTTON": ["65536"],
    "READONLY": ["262144"],
    "CLIPCHILDREN": ["524288"],
    "NOBORDER": ["1048576"],
    "GROUP": ["2097152"],
    "OK": ["4194304"],
    "OK_CANCEL": ["8388608"],
    "YES_NO": ["16777216"],
    "YES_NO_CANCEL": ["33554432"],
    "RETRY_CANCEL": ["67108864"],
    "DEF_OK": ["134217728"],
    "DEF_CANCEL": ["268435456"],
    "DEF_RETRY": ["536870912"],
    "NOLABEL": ["536870912"],
    "AUTOHSCROLL": ["1073741824"],
    "DEF_YES": ["1073741824"]
}