#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XActionListener"
#attr $desc = [
    "makes it possible to receive action events."
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1awt_1_1XActionListener.html"
#attr $inherits = ['XEventListener']
#attr $imports = []
#attr $from_imports = [
    [
        "..lang.x_event_listener",
        "XEventListener"
    ],
    [
        ".action_event",
        "ActionEvent"
    ]
]
#attr $namespace = "com.sun.star.awt"
#attr $attribs = {
        "methods": [
            {
                "name": "actionPerformed",
                "returns": "None",
                "desc": [
                    "is invoked when an action is performed."
                ],
                "args": [
                    [
                        "rEvent",
                        "ActionEvent",
                        "in"
                    ]
                ]
            }
        ]
    }
