#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XAdjustmentListener"
#attr $desc = [
    "makes it possible to receive adjustment events."
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1awt_1_1XAdjustmentListener.html"
#attr $inherits = ['XEventListener']
#attr $imports = []
#attr $from_imports = [
    [
        "..lang.x_event_listener",
        "XEventListener"
    ],
    [
        ".adjustment_event",
        "AdjustmentEvent"
    ]
]
#attr $namespace = "com.sun.star.awt"
#attr $attribs = {
        "methods": [
            {
                "name": "adjustmentValueChanged",
                "returns": "None",
                "desc": [
                    "is invoked when the adjustment has changed."
                ],
                "args": [
                    [
                        "rEvent",
                        "AdjustmentEvent",
                        "in"
                    ]
                ]
            }
        ]
    }
