#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XAnimatedImages"
#attr $desc = [
    "allows administrating a set of images, to be displayed as animated seres.",
    "",
    "Components implementing this interface maintain a variable number of image sets. Components displaying those images will choose the best-fitting image set depending on the available space, and possibly other restrictions."
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1awt_1_1XAnimatedImages.html"
#attr $inherits = ['XContainer']
#attr $imports = []
#attr $from_imports = [
    [
        "..container.x_container_listener",
        "XContainerListener"
    ],
    [
        "..lang.index_out_of_bounds_exception",
        "IndexOutOfBoundsException"
    ],
    [
        "..container.x_container",
        "XContainer"
    ],
    [
        "..lang.illegal_argument_exception",
        "IllegalArgumentException"
    ]
]
#attr $namespace = "com.sun.star.awt"
#attr $attribs = {
        "methods": [
            {
                "name": "getImageSet",
                "returns": "typing.List[str]",
                "desc": [
                    "returns the URLs of the image set with the given index"
                ],
                "args": []
            },
            {
                "name": "getImageSetCount",
                "returns": "int",
                "desc": [
                    "returns the number of images sets maintained by the component."
                ],
                "args": []
            },
            {
                "name": "insertImageSet",
                "returns": "None",
                "desc": [
                    "sets the URLs of the image set with the given index"
                ],
                "args": []
            },
            {
                "name": "removeImageSet",
                "returns": "None",
                "desc": [
                    "removes the image set with the given index"
                ],
                "args": []
            },
            {
                "name": "replaceImageSet",
                "returns": "None",
                "desc": [
                    "replaces the image set given by index with a new one"
                ],
                "args": []
            }
        ]
    }
