#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XFont"
#attr $desc = [
    "describes a font on a specific device.",
    "",
    "All values are in pixels within this device."
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1awt_1_1XFont.html"
#attr $inherits = ['XInterface']
#attr $imports = []
#attr $from_imports = [
    [
        "..uno.x_interface",
        "XInterface"
    ]
]
#attr $from_imports_typing = [
    [
        ".font_descriptor",
        "FontDescriptor"
    ],
    [
        ".simple_font_metric",
        "SimpleFontMetric"
    ]
]
#attr $namespace = "com.sun.star.awt"
#attr $attribs = {
        "methods": [
            {
                "name": "getFontDescriptor",
                "returns": "'FontDescriptor'",
                "desc": [
                    "returns the description of the font.",
                    "",
                    "The unit of measurement is pixels for the device."
                ],
                "raises": [],
                "args": []
            },
            {
                "name": "getFontMetric",
                "returns": "'SimpleFontMetric'",
                "desc": [
                    "returns additional information about the font."
                ],
                "raises": [],
                "args": []
            }
        ]
    }
