#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XItemListener"
#attr $desc = [
    "makes it possible to receive events from a component when the state of an item changes."
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1awt_1_1XItemListener.html"
#attr $requires_typing = True
#attr $inherits = ['XEventListener']
#attr $imports = []
#attr $from_imports = [
    [
        "..lang.x_event_listener",
        "XEventListener"
    ]
]
#attr $from_imports_typing = [
    [
        ".item_event",
        "ItemEvent"
    ]
]
#attr $namespace = "com.sun.star.awt"
#attr $attribs = {
        "methods": [
            {
                "name": "itemStateChanged",
                "returns": "None",
                "desc": [
                    "is invoked when an item changes its state."
                ],
                "raises": [],
                "args": [
                    [
                        "rEvent",
                        "'ItemEvent'",
                        "in"
                    ]
                ]
            }
        ]
    }
