#from _const_base import const_base as c_base
#extends c_base
#attr $hex = {hex}
#attr $sort = {sort}
#attr $flags = {flags}
#attr $name = "{name}"
#attr $namespace = "{ns}"
#attr $link = "{link}"
#attr $base_class = "{base_class}"
#attr $desc = {desc}
#attr $imports = []
#attr $from_imports = {from_imports}
#attr $from_typing_imports = {from_typing_imports}
#attr $requires_typing = {requires_typing}
#attr $const_dict = {
{data}
}