#from _const_base import const_base as c_base
#extends c_base
#attr $hex = {hex}
#attr $sort = {sort}
#attr $flags = {flags}
#attr $name = "{name}"
#attr $desc = """{desc}"""
#attr $imports = []
#attr $from_imports = []
#attr $link = "{link}"
#attr $const_dict = {
{data}
}