#from _enum_base import enum_base as e_base
#extends e_base
#attr $auto_load = False
#attr $name = "{name}"
#attr $namespace = "{ns}"
#attr $allow_db = {allow_db}
#attr $sort = {sort}
#attr libre_office_ver = "{libre_office_ver}"
#attr $desc = {desc}
#attr $link = "{link}"
#attr $quote = {quote}
#attr $typings = {typings}
#attr $enum_dict = {data}