#from _enum_base import enum_base as e_base
#extends e_base
#attr $sort = {sort}
#attr $ns = "{ns}"
#attr $name = "{name}"
#attr $desc = {desc}
#attr $link = "{link}"
#attr $quote = {quote}
#attr $typings = {typings}
#attr $enum_dict = {data}