#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "{name}"
#attr $desc = {desc}
#attr $link = "{link}"
#attr $inherits = {inherits}
#attr $imports = {imports}
#attr $from_imports = {from_imports}
#attr $namespace = "{ns}"
#attr $attribs = {data}
