#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $auto_load = False
#attr $name = "{name}"
#set $namespace = "{ns}"
#attr $desc = {desc}
#attr $link = "{link}"
#attr $requires_typing = {requires_typing}
#attr $inherits = {inherits}
#attr $imports = {imports}
#attr $from_imports = {from_imports}
#attr $from_imports_typing = {from_imports_typing}
#attr $quote = {quote}
#attr $typings = {typings}
#attr $attribs = {data}
