#from _service import service
#extends service
#attr $auto_load = False
#attr $name = "{name}"
#attr $desc = {desc}
#attr $link = "{link}"
#attr $inherits = {inherits}
#attr $include_desc = {include_desc}
#attr $from_imports = {from_imports}
#attr $namespace = "{ns}"
#attr $attribs = {data}
