#from _service import service
#extends service
#attr $auto_load = False
#attr $name = "{name}"
#attr $namespace = "{ns}"
#attr libre_office_ver = "{libre_office_ver}"
#attr $desc = {desc}
#attr $link = "{link}"
#attr $requires_typing = {requires_typing}
#attr $include_desc = {include_desc}
#attr $inherits = {inherits}
#attr $extends_map = {extends_map}
#attr $imports = {imports}
#attr $from_imports = {from_imports}
#attr $from_imports_typing = {from_imports_typing}
#attr $quote = {quote}
#attr $typings = {typings}
#attr $attribs = {data}
