#from _struct_base import struct_base as s_base
#extends s_base
#attr $dynamic_struct = {dynamic_struct}
#attr $sort = {sort}
#attr $name = "{name}"
#attr $desc = {desc}
#attr $link = "{link}"
#attr $imports = []
#attr $inherits = {inherits}
#attr $from_imports = {from_imports}
#attr $auto_imports = {auto_import}
#attr $requires_typing = {requires_typing}
#attr $attribs = [
{data}
]
