#from _struct_base import struct_base as s_base
#extends s_base
#attr $dynamic_struct = {dynamic_struct}
#attr $sort = {sort}
#attr $namespace = "{ns}"
#attr $name = "{name}"
#attr libre_office_ver = "{libre_office_ver}"
#attr $desc = {desc}
#attr $include_desc = {include_desc}
#attr $link = "{link}"
#attr $requires_typing = {requires_typing}
#attr $inherits = {inherits}
#attr $extends_map = {extends_map}
#attr $imports = {imports}
#attr $from_imports = {from_imports}
#attr $from_imports_typing = {from_imports_typing}
#attr $quote = {quote}
#attr $typings = {typings}
#attr $attribs = {data}
