#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = {sort}
#attr $name = "{name}"
#attr $desc = """{desc}"""
#attr $link = "{link}"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = {auto_import}
#attr $attribs = [
{data}
]
