#from _typedef import typedef as TypeDef
#extends TypeDef
#attr $name = "{name}"
#attr $desc = {desc}
#attr $link = "{link}"
#attr $type = {type}
#attr $include_desc = {include_desc}
#attr $requires_typing = {requires_typing}
#attr $namespace = "{ns}"
#attr $from_imports = {from_imports}
#attr $quote = {quote}
#attr $typings = {typings}
