#from _const_base import const_base as c_base
#extends c_base
#attr $hex = False
#attr $sort = True
#attr $flags = False
#attr $name = "AccessibleTableModelChangeType"
#attr $desc = """Type of a change made to a table model.

    **Since**

        OOo 1.1.2"""
#attr $imports = []
#attr $from_imports = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/namespacecom_1_1sun_1_1star_1_1accessibility_1_1AccessibleTableModelChangeType.html"
#attr $const_dict = {
    "INSERT": ["1", [
        "One or more rows and/or columns have been inserted.",
        "",
        "Use the fields of the AccessibleTableModelChange structure to determine the indices of the rows and/or columns that have been inserted."
    ]],
    "DELETE": ["2", [
        "One or more rows and/or columns have been deleted.",
        "",
        "The affected area of the table is stored in the fields of the AccessibleTableModelChange structure."
    ]],
    "UPDATE": ["3", [
        "Some of the table data has changed.",
        "",
        "The number of rows and columns remains unchanged. Only (some of) the content of the cells in the range that is specified by the fields of the AccessibleTableModelChange structure have been changed."
    ]]
}