#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "AccessibleEventObject"
#attr $desc = """this struct describes an accessible event, that is broadcasted from the XAccessibleEventBroadcaster and notified to XAccessibleEventListener.

    It is usually implemented by AccessibleContext.

    **Since**

        OOo 1.1.2"""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1accessibility_1_1AccessibleEventObject.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = []
#attr $attribs = [
    {
        "name": "EventId",
        "type": "int",
        "orig_type": "short",
        "lines": ["specifies the type of this event.",
            "",
            "For a list of possible events see AccessibleEventId."]
    },
    {
        "name": "NewValue",
        "type": "object",
        "orig_type": "any",
        "lines": ["for events that specifies a value change, this is the new value.",
            "",
            "Depending on the EventId, this can be void."]
    },
    {
        "name": "OldValue",
        "type": "object",
        "orig_type": "any",
        "lines": ["for events that specifies a value change, this is the old value.",
            "",
            "Depending on the EventId, this can be void."]
    }
]