#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XAccessibleTableSelection"
#attr $desc = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1accessibility_1_1XAccessibleTableSelection.html"
#attr $requires_typing = False
#attr $inherits = ['XInterface']
#attr $imports = []
#attr $from_imports = [
    [
        "..uno.x_interface",
        "XInterface"
    ]
]
#attr $from_imports_typing = []
#attr $namespace = "com.sun.star.accessibility"
#attr $attribs = {
        "methods": [
            {
                "name": "selectColumn",
                "returns": "bool",
                "desc": [],
                "raises": [
                    "com.sun.star.lang.IndexOutOfBoundsException"
                ],
                "args": []
            },
            {
                "name": "selectRow",
                "returns": "bool",
                "desc": [],
                "raises": [
                    "com.sun.star.lang.IndexOutOfBoundsException"
                ],
                "args": []
            },
            {
                "name": "unselectColumn",
                "returns": "bool",
                "desc": [],
                "raises": [
                    "com.sun.star.lang.IndexOutOfBoundsException"
                ],
                "args": []
            },
            {
                "name": "unselectRow",
                "returns": "bool",
                "desc": [],
                "raises": [
                    "com.sun.star.lang.IndexOutOfBoundsException"
                ],
                "args": []
            }
        ]
    }
