#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XAccessibleGroupPosition"
#attr $desc = []
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1accessibility_1_1XAccessibleGroupPosition.html"
#attr $requires_typing = True
#attr $inherits = ['XInterface']
#attr $imports = []
#attr $from_imports = [
    [
        "..uno.x_interface",
        "XInterface"
    ]
]
#attr $from_imports_typing = []
#attr $namespace = "com.sun.star.accessibility"
#attr $attribs = {
        "methods": [
            {
                "name": "getGroupPosition",
                "returns": "typing.List[int]",
                "desc": [],
                "raises": [
                    "com.sun.star.lang.IndexOutOfBoundsException"
                ],
                "args": [
                    [
                        "accoject",
                        "object",
                        "in"
                    ]
                ]
            },
            {
                "name": "getObjectLink",
                "returns": "str",
                "desc": [],
                "raises": [
                    "com.sun.star.lang.IndexOutOfBoundsException"
                ],
                "args": [
                    [
                        "accoject",
                        "object",
                        "in"
                    ]
                ]
            }
        ]
    }
