#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XAccessibleHypertext"
#attr $desc = [
    "Implement this interface to expose the hypertext structure of a document.",
    "",
    "The XAccessibleHypertext interface is the main interface to expose hyperlinks in a document, typically a text document, that are used to reference other (parts of) documents. For supporting the XAccessibleHypertext.getLinkIndex() method of this interface and other character related methods of the XAccessibleHyperlink interface, it is necessary to also support the XAccessibleText interface.",
    "",
    "**See Also**",
    "",
    "    XAccessibleHyperlink, XAccessibleText"
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1accessibility_1_1XAccessibleHypertext.html"
#attr $requires_typing = True
#attr $inherits = ['XAccessibleText']
#attr $imports = []
#attr $from_imports = [
    [
        ".x_accessible_text",
        "XAccessibleText"
    ]
]
#attr $from_imports_typing = [
    [
        ".x_accessible_hyperlink",
        "XAccessibleHyperlink"
    ]
]
#attr $namespace = "com.sun.star.accessibility"
#attr $attribs = {
        "methods": [
            {
                "name": "getHyperLink",
                "returns": "'XAccessibleHyperlink'",
                "desc": [
                    "Return the specified link.",
                    "",
                    "The returned XAccessibleHyperlink object encapsulates the hyperlink and provides several kinds of information describing it."
                ],
                "raises": [
                    "com.sun.star.lang.IndexOutOfBoundsException"
                ],
                "args": []
            },
            {
                "name": "getHyperLinkCount",
                "returns": "int",
                "desc": [
                    "Returns the number of links and link groups contained within this hypertext document."
                ],
                "raises": [],
                "args": []
            },
            {
                "name": "getHyperLinkIndex",
                "returns": "int",
                "desc": [
                    "Returns the index of the hyperlink that is associated with this character index.",
                    "",
                    "In a HTML document this is the case when a <a href> tag spans (includes) the given character index."
                ],
                "raises": [
                    "com.sun.star.lang.IndexOutOfBoundsException"
                ],
                "args": []
            }
        ]
    }
