#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XAccessibleContext3"
#attr $desc = [
    "Implement this interface to speed up operations when iterating over large amounts of children.",
    "",
    "**See Also**",
    "",
    "    LibreOffice 6.4"
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1accessibility_1_1XAccessibleContext3.html"
#attr $requires_typing = True
#attr $inherits = ['XInterface']
#attr $imports = []
#attr $from_imports = [
    [
        "..uno.x_interface",
        "XInterface"
    ]
]
#attr $from_imports_typing = []
#attr $namespace = "com.sun.star.accessibility"
#attr $attribs = {
        "methods": [
            {
                "name": "getAccessibleChildren",
                "returns": "'typing.List[XAccessible]'",
                "desc": [
                    "Return the children.",
                    "",
                    "The order in which the children are enumerated is implementation dependent."
                ],
                "raises": [],
                "args": []
            }
        ]
    }
