#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XAccessibleImage"
#attr $desc = [
    "Implement this interface to represent images and icons.",
    "",
    "This interface is used for a representation of images like icons of buttons. The corresponding interface of the Java Accessibility API is AccessibleIcon. This interface lets you retrieve an image's size and description.",
    "",
    "**See Also**",
    "",
    "    OOo 1.1.2"
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1accessibility_1_1XAccessibleImage.html"
#attr $requires_typing = False
#attr $inherits = ['XInterface']
#attr $imports = []
#attr $from_imports = [
    [
        "..uno.x_interface",
        "XInterface"
    ]
]
#attr $from_imports_typing = []
#attr $namespace = "com.sun.star.accessibility"
#attr $attribs = {
        "methods": [
            {
                "name": "getAccessibleImageDescription",
                "returns": "str",
                "desc": [
                    "Returns the localized description of the image.",
                    "",
                    "It depends on the usage of an image whether the description should express the image's function (e.g. for icons) or the actual content of the image (e.g. for image maps or non-iconic images embedded into a document.)"
                ],
                "raises": [],
                "args": []
            },
            {
                "name": "getAccessibleImageHeight",
                "returns": "int",
                "desc": [
                    "Returns the height of the image.",
                    "",
                    "The height is returned in units specified by the parents coordinate system."
                ],
                "raises": [],
                "args": []
            },
            {
                "name": "getAccessibleImageWidth",
                "returns": "int",
                "desc": [
                    "Returns the width of the image.",
                    "",
                    "The width is returned in units specified by the parents coordinate system."
                ],
                "raises": [],
                "args": []
            }
        ]
    }
