#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XAccessibleTextAttributes"
#attr $desc = [
    "Implement this interface to give access to the attributes of a text.",
    "",
    "**See Also**",
    "",
    "    OOo 2.0.4"
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1accessibility_1_1XAccessibleTextAttributes.html"
#attr $requires_typing = True
#attr $inherits = []
#attr $imports = []
#attr $from_imports = []
#attr $from_imports_typing = [
    [
        "..beans.property_value",
        "PropertyValue"
    ]
]
#attr $namespace = "com.sun.star.accessibility"
#attr $attribs = {
        "methods": [
            {
                "name": "getDefaultAttributes",
                "returns": "'typing.List[PropertyValue]'",
                "desc": [
                    "Get the default attribute set for the text.",
                    "",
                    "Returns a set of all default paragraph and default character attributes that are associated for the text. To prevent the method from returning possibly large sets of attributes that the caller is not interested in the caller can provide a list of attributes that he wants to be returned.",
                    "",
                    "When the sequence is empty all attributes are returned."
                ],
                "raises": [
                    "com.sun.star.beans.UnknownPropertyException"
                ],
                "args": []
            },
            {
                "name": "getRunAttributes",
                "returns": "'typing.List[PropertyValue]'",
                "desc": [
                    "Get the run attribute set for the specified position.",
                    "",
                    "Returns a set of character attributes that are associated for the character at the given index and are directly set or are set via a character style. To prevent the method from returning all of these attributes the caller can provide a list of attributes that he wants to be returned.",
                    "",
                    "When the sequence is empty all attributes are returned."
                ],
                "raises": [
                    "com.sun.star.beans.UnknownPropertyException",
                    "com.sun.star.lang.IndexOutOfBoundsException"
                ],
                "args": []
            }
        ]
    }
