#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XAccessibleRelationSet"
#attr $desc = [
    "Implement this interface to give access to an object's set of relations.",
    "",
    "Such relation are modeled with the AccessibleRelation structure. This interface is used for representing sets of relations between Accessible objects. Most of the convenience methods of the corresponding AccessibleRelationSet interface of the Java Accessibility API have been removed from this interface in order to clean it up. These methods are add(), addAll(), clear(), and remove(). The other methods have been renamed to achieve a greater conformance with the other accessibility interfaces.",
    "",
    "**See Also**",
    "",
    "    OOo 1.1.2"
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1accessibility_1_1XAccessibleRelationSet.html"
#attr $requires_typing = True
#attr $inherits = ['XInterface']
#attr $imports = []
#attr $from_imports = [
    [
        "..uno.x_interface",
        "XInterface"
    ]
]
#attr $from_imports_typing = [
    [
        ".accessible_relation",
        "AccessibleRelation"
    ]
]
#attr $namespace = "com.sun.star.accessibility"
#attr $attribs = {
        "methods": [
            {
                "name": "containsRelation",
                "returns": "bool",
                "desc": [
                    "Tests whether the relation set contains a relation matching the specified key."
                ],
                "raises": [],
                "args": []
            },
            {
                "name": "getRelation",
                "returns": "'AccessibleRelation'",
                "desc": [
                    "Returns the relation of this relation set that is specified by the given index."
                ],
                "raises": [
                    "com.sun.star.lang.IndexOutOfBoundsException"
                ],
                "args": []
            },
            {
                "name": "getRelationByType",
                "returns": "'AccessibleRelation'",
                "desc": [
                    "Retrieve and return the relation with the given relation type."
                ],
                "raises": [],
                "args": []
            },
            {
                "name": "getRelationCount",
                "returns": "int",
                "desc": [
                    "Returns the number of relations in this relation set."
                ],
                "raises": [],
                "args": []
            }
        ]
    }
