#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XAccessibleContext2"
#attr $desc = [
    "Implement this interface for exposing more aspects of a class's content.",
    "",
    "This is an extension of XAccessibleContext to add getAccessibleId().",
    "",
    "**See Also**",
    "",
    "    LibreOffice 6.3"
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1accessibility_1_1XAccessibleContext2.html"
#attr $requires_typing = False
#attr $inherits = ['XAccessibleContext']
#attr $imports = []
#attr $from_imports = [
    [
        "ooo_uno.uno_obj..accessibility.x_accessible_context",
        "XAccessibleContext"
    ]
]
#attr $from_imports_typing = []
#attr $namespace = "com.sun.star.accessibility"
#attr $attribs = {
        "methods": [
            {
                "name": "getAccessibleId",
                "returns": "str",
                "desc": [
                    "Return the object's identifier.",
                    "",
                    "This is not meant to be presented to the user, but to be an ID which is stable over application development. Typically, this is the gtkbuilder ID. Such an ID can then be used to identify a given well-known accessible object independently from the current locale, user-visible labelling, or dialog structure. This can then be used for tailored screen reading (e.g. automatically announcing the content of a well-known object), or for automatic regression testing (to check the behavior of well-known objects). Uniqueness within the window is thus desirable when returning a non-empty string."
                ],
                "raises": [],
                "args": []
            }
        ]
    }
