#from _struct_base import struct_base as s_base
#extends s_base
#attr $sort = True
#attr $name = "Uik"
#attr $desc = """Specifies a universal interface key (globally unique).

    This struct is deprecated. Uiks are not used anymore."""
#attr $link = "https://api.libreoffice.org/docs/idl/ref/structcom_1_1sun_1_1star_1_1uno_1_1Uik.html"
#attr $imports = []
#attr $from_imports = []
#attr $auto_imports = []
#attr $attribs = [
    {
        "name": "Data1",
        "type": "int",
        "orig_type": "long",
        "lines": "specifies a 4 byte data block."
    },
    {
        "name": "Data2",
        "type": "int",
        "orig_type": "short",
        "lines": "specifies a 2 byte data block."
    },
    {
        "name": "Data3",
        "type": "int",
        "orig_type": "short",
        "lines": "specifies a 2 byte data block."
    },
    {
        "name": "Data4",
        "type": "int",
        "orig_type": "long",
        "lines": "specifies a 4 byte data block."
    },
    {
        "name": "Data5",
        "type": "int",
        "orig_type": "long",
        "lines": "specifies a 4 byte data block."
    }
]