#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XCurrentContext"
#attr $desc = [
    "Task (thread) local execution context for UNO.",
    "",
    "Arbitrary values can be retrieved from the context.",
    "",
    "You have to use UNO runtime functions to obtain the current context in your target language.",
    "",
    "**See Also**",
    "",
    "    In general, do not spread the current context across different tasks. Values of the current context are destined for that task only."
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1uno_1_1XCurrentContext.html"
#attr $requires_typing = False
#attr $inherits = ['XInterface']
#attr $imports = []
#attr $from_imports = [
    [
        ".x_interface",
        "XInterface"
    ]
]
#attr $from_imports_typing = []
#attr $namespace = "com.sun.star.uno"
#attr $attribs = {
        "methods": [
            {
                "name": "getValueByName",
                "returns": "object",
                "desc": [
                    "Gets a value from the context."
                ],
                "raises": [],
                "args": [
                    [
                        "Name",
                        "str",
                        "in"
                    ]
                ]
            }
        ]
    }
