#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XReference"
#attr $desc = [
    "must be implemented by anyone who holds the adapter on the client side.",
    "",
    "**See Also**",
    "",
    "    XWeak for description af concepts."
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1uno_1_1XReference.html"
#attr $requires_typing = False
#attr $inherits = ['XInterface']
#attr $imports = []
#attr $from_imports = [
    [
        ".x_interface",
        "XInterface"
    ]
]
#attr $from_imports_typing = []
#attr $namespace = "com.sun.star.uno"
#attr $attribs = {
        "methods": [
            {
                "name": "dispose",
                "returns": "None",
                "desc": [
                    "removes all references to the adapter.",
                    "",
                    "This method is called when the adapted object dies. The implementation of the client-side's weak reference must include removal of all references to the adapter. Otherwise, the adapted object will be destroyed, but the adapter will be alive."
                ],
                "raises": [],
                "args": []
            }
        ]
    }
