#import typing
#from _x_base import x_base as XBase
#extends XBase
#attr $name = "XUnloadingPreference"
#attr $desc = [
    "Backwards-compatibility remainder of a removed library unloading feature.",
    "",
    "**See Also**",
    "",
    "    Do not use."
]
#attr $link = "https://api.libreoffice.org/docs/idl/ref/interfacecom_1_1sun_1_1star_1_1uno_1_1XUnloadingPreference.html"
#attr $requires_typing = False
#attr $inherits = ['XInterface']
#attr $imports = []
#attr $from_imports = [
    [
        ".x_interface",
        "XInterface"
    ]
]
#attr $from_imports_typing = []
#attr $namespace = "com.sun.star.uno"
#attr $attribs = {
        "methods": [
            {
                "name": "releaseOnNotification",
                "returns": "bool",
                "desc": [],
                "raises": [],
                "args": []
            }
        ]
    }
